*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}

img{
    max-width: 100%;
}

h1,h2{
    margin-bottom: 15px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

ul{
    list-style-type: none;
}

.navbar{
    background: #3474e8;
    color: #fff;
    height: 60px;
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color: lightblue;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}

.header{
background-color: #0151cc;
color: #fff;
min-height: 400px;
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height:1.2 ;
}

.header img{
    max-width: 400px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.heros .container{
    display: flex;
    justify-content: space-between;
}

.hero{
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.hero i{
    margin-right: 10px;
}

@media (max-width:768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .heros .container{
        display: block;
        text-align: center;
    }
}

.contact{
    padding: 6rem 0;
    background: #f9fafb;
}

.contact h1,h3{
    font-size: 2.5rem;
    color: #111827;
    margin-bottom: 0.5rem;
}

.contact p{
color: #4b5563;
font-size: 1.5rem;
max-width: 600px;
margin: auto;
}

footer{
    text-align: center;
    padding: 15px 0;
    border-top: 1px;
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}

footer p{
    font-size: 1.5rem;
    max-width: 600px;
    margin: auto;
}

.team-containers{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 50px 20px;

}

.team-member{
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;

}

